@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Sarabun', sans-serif;
}

.bg-mix-dark{
    background-color: #141414 !important;
    color: #fff !important;
}

.bg-mix-dark-1{
    background-color: #0F0F0F !important;
    color: #fff !important;
}
.bg-mix-blue{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);;
    color: #fff !important;
}
.bg-mix-blue::before{
    content: ' ';
    position: fixed;
    background-color: #141414 !important;
    color: #fff !important;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.card:hover{
    background-color: #141414 !important;
    transition: 0.3s;
    transform:translateY(-5px);
}
.table>:not(caption)>*>*{
    background-color: initial !important; /* หมายถึง ไม่มีการกำหนดค่า */
    color: #fff !important;
}

a{
    text-decoration: none !important;
}